*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #28abb9;
}

header{
  background-color: #28abb9;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-size: 50px;
}

#new-game {
  font-size: 20px;
  border: none;
  padding: 10px;
}

#new-game:hover {
  opacity: .9;
}

#status {
  font-size: 25px;
}

#game {
  padding: 50px 50px;
  margin: 50px auto;
  width: 400px;
  background-color: #2d6187;
  border-radius: 10%;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-content: center;
}

#instructions {
  background-color: #a8dda8;
  margin: 50px auto;
  width: 400px;
  line-height: 1.5;
  padding: 25px 0;
  border-radius: 10%;
}

.box {
  width: 300px;
  margin: auto;
}

.round {
  border-radius: 50%;
  border: 1px solid black;
}

.green {
  color: green;
}
